body{
    margin:0px;
    background-color:#232323;
    display: block;
}  
.aboutme{
    width:70rem;
    height:15rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 14rem;
    margin-right: 14rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.a{
    margin-top: 3rem;
}
.image1 img{
    width:10rem;
    height:10rem;
    border-radius: 50%;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}
.name p{
    color: #fff;
    font-weight: 800;
    display: flex;
}
.d p{
    color: #c7c4c4;
    font-weight:200;
}
.about p{
    color: #fff;
    font-weight:500;
}
.skills p{
    color: #fff;
    font-weight:500;

}
.f{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}
.profiles{
    width:70rem;
    height:15rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-left: 14rem;
    margin-right: 14rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
h4{
    color: #fff;
    font-weight: 600;
    margin-left: 14rem;
    margin-right: 14rem;
}
.profile{
    background-color:rgba(0, 0, 0, 0.568);
    box-sizing: border-box;
    border-style:hidden;
    width:15rem;
    height: 15rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
.pg img{
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.plink p{
    font-weight: 600;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.plink button{
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.3s;
    
}
.plink button:hover{
    background-color: rgb(189, 214, 214);
    transform: scale(1.10);


}
.profile:hover{
    transform: scale(1.05);

}
@media only screen and (max-width: 767px) {
    .aboutme{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:30rem;
        margin-right:2rem;
        margin-left:2rem;
    }
}
@media only screen and (max-width: 767px) {
    .profiles{
        width: 100%;
        margin-right:2rem;
        margin-left:2rem;
        display: flex;
        flex-direction: column;
    }
    .profile{
        width: 100%;
        height: 15rem;
    }
    h4{
        margin-right:2rem;
        margin-left:2rem;
    }
}
